@font-face {
  font-family: 'Integral';
  src: url('./assets/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf');
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #dddcdc;
}
::-webkit-scrollbar-thumb {
  background: #605c5c;
  border-radius: 4px;
}
.animated-text {
  position: absolute;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px black;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  transition: color 2s ease;
}

.animated-text:hover {
  color: rgb(37, 37, 37);
}
.hollow-text {
  font-size: 6.5rem;
  font-weight: bold;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 2px rgb(24, 24, 24); /* Creates the hollow effect */
  display: inline-block;
  overflow: hidden;
  transition: color 0.5s ease; /* Smooth transition for the hover effect */
  font-family: 'Integral';
}

.hollow-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(21, 20, 20) 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
  background-size: 200% 100%;
  background-position: 100% 0;
  font-family: 'Integral';
}

.hollow-text:hover::before {
  background-position: 0 0; /* Moves the background from right to left, filling the text */
  font-family: 'Integral';

}
