/* This is code for custom scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #dddcdc;
}
::-webkit-scrollbar-thumb {
  background: #605c5c;
  border-radius: 4px;
}
.animated-text {
  position: absolute;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px black;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  transition: color 1s ease;
}

.animated-text:hover {
  color: black;
}
